@font-face{
	font-family: "ManiaIcons";
	font-display: swap;
	src: url("../fonts/ManiaIcons.woff2") format("woff2"),
		url("../fonts/ManiaIcons.ttf") format("truetype");
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
	background-color: #0d2723;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body {
	font-size: 1.6rem;
	padding: 4rem 2rem;
	color: #eee;
	font-family: 'Google Sans Flex', sans-serif, "ManiaIcons";
}

.wrapper {
	margin: 0 auto;
	max-width: 80rem;
}

a {
	color: #fff;
}

label.full-width {
	display: block;
	margin-bottom: 0.5em;
}

textarea {
	font: inherit;
	background: rgba(255, 255, 255, 0.1);
	border: 0.1rem solid rgba(255, 255, 255, 0.5);
	color: #fff;
	padding: 1rem;
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	border-radius: 0.5rem;
}

textarea:focus {
	outline: none;
}

textarea:not([readonly]):focus {
	background-color: rgba(255, 255, 255, 0.15);
	border-color: #fcba03;
}

textarea[readonly] {
	background: rgba(0, 0, 0, 0.25);
	border-color: rgba(0, 0, 0, 0.75);
}

.muted {
	opacity: 0.5;
}

.title {
	text-align: center;
	margin: 0;
	margin-bottom: 1em;
	font-size: 4rem;
}

.preview {
	background: #808080;
	padding: 2rem;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	border-radius: 0.5rem;
}

.preview.bg-dark {
	background: #222;
}

.preview.bg-light {
	background: #ddd;
}

.preview span {
	cursor: pointer;
}

.preview span.has-styles {
	box-shadow: inset 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5), inset -0.1rem -0.1rem 0 rgba(0, 0, 0, 0.5);
}

.preview span:hover {
	box-shadow: inset 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.5), inset -0.1rem -0.1rem 0 rgba(255, 255, 255, 0.5);
}

.preview:not(.hide-selection) span.is-selected,
.preview span.is-hovered {
	box-shadow: inset 0.1rem 0.1rem 0 rgba(255, 255, 255, 1), inset -0.1rem -0.1rem 0 rgba(255, 255, 255, 1);
}

.styled .bold {
	font-weight: 900;
}

.styled .italic {
	font-style: italic;
}

.styled .uppercase {
	text-transform: uppercase;
}

.styled .drop-shadow {
	text-shadow: 0.075em 0.075em 0 #000;
}

.styled .wide {
	font-stretch: 200%;
	font-width: 200%;
}

.styled .narrow {
	font-stretch: 50%;
	font-width: 50%;
}

.element-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.clr-field {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
	opacity: 0;
}

.element-list {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.4rem;
}

th {
	text-align: left;
}

th, td {
	padding: 0.25rem 1rem;
}

th:first-child, td:first-child {
	padding-left: 0;
}

th:last-child, td:last-child {
	padding-right: 0;
}

th.nowrap,
td.nowrap {
	white-space: nowrap;
	width: 0;
}

td {
	cursor: pointer;
}

tr td {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

tr.is-active td {
	background: rgba(255, 255, 255, 0.1);
}

tr:hover td {
	background: rgba(255, 255, 255, 0.2);
}

.color-indicator {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 0.1rem solid rgba(255, 255, 255, 0.5);
	vertical-align: middle;
	margin-left: 0.5rem;
	position: relative;
	top: -0.1rem;
}

.icon-list {
	padding: 1rem;
	border-radius: 0.5rem;
	background: rgba(0, 0, 0, 0.25);
	border: 0.1rem solid rgba(0, 0, 0, 0.75);
	font-size: 2rem;
	letter-spacing: 0.25rem;
	word-break: break-all;
}

.credits {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.4rem;
	gap: 0.5rem;
	margin-top: 6rem;
}

.credits-by {
	opacity: 0.5;
	font-size: 1.2rem;
}

.credits-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.credits img {
	position: relative;
	top: 0.1rem;
}

.credits-separator {
	margin: 0 1rem;
}
